@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

body {
    background: radial-gradient(circle, rgb(201, 139, 166) 0%, rgb(107, 141, 180) 100%);
    font-family: 'Libre Baskerville', serif;
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}